<!DOCTYPE html>
<html>

<head>
	<title>BruinPlay</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js">
	<link rel="stylesheet" type="text/css" href="/css/style.css" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
	 <div id="overlay">
            <div id="box">
                <h2>Add a Song</h2>
                <form id="addsong" method="POST" action="/songs/add">
                    <input type="text" id="addsong_title" name="title" placeholder="Title..." />
                    <input type="text" id="addsong_artist" name="artistName" placeholder="Artist..." />
                    <input type="text" id="addsong_album" name="albumName" placeholder="Album..." />
<!--                     Select an audio file: <input type="file" id="addsong_audioSrc" name="audioSrc">
                    Select a cover photo: <input type="file" id="addsong_audioImageSrc" name="audioImageSrc"> -->
                    <br /><input type="submit" value="Add Song" />
                    <input type="button" value="Clear" onClick="clearForm()" />
                    <input type="button" value="Close" onClick="setOverlayDisplay(false)" />
                </form>
            </div>
        </div>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
		  <a class="navbar-brand" href="#">Library</a>
		  <div class="collapse navbar-collapse" id="navbarNav">
		    <ul class="navbar-nav">
		      <li class="nav-item">
		        <a class="nav-link" href="#" onClick="setLocation('/')">Home</a>
		      </li>
		      <li class="nav-item">
		        <a class="nav-link" href="#" onClick="setOverlayDisplay(true)">Add Song</a>
		      </li>
		      <li class="nav-item active">
		        <a class="nav-link" onClick="setLocation('/albums')">View Albums <span class="sr-only">(current)</span></a>
		      </li>
		    </ul>
		  </form>
		  </div>
	</nav>

	<div class="container">
		<div class="row header">
	            <div class="right"><h1>BruinPlay</h1></div>
	    </div>			
		<div class="row photo-row">
		{{#each albums}}
			<div class="col-md-3 col-sm-6">
				{{#if this.albumName}}
				<div class="card">
					<img class="card-album img-center" src="{{this.albumCoverSrc}}">
					<h3 style="margin: auto;">{{this.albumName}}</h3>
				</div>
				{{/if}}
			</div>
		{{/each}}
		</div>
	</div>
	<script src="/js/script.js"></script>

	<script type="text/javascript">
            function setOverlayDisplay(show) {
                document.getElementById('overlay').style.display = show ? "block" : "none";
            }

            function clearForm() {
                document.getElementById('addsong_title').value = "";
                document.getElementById('addsong_artist').value = "";
                document.getElementById('addsong_album').value = "";
            }

            function setLocation(url) {
                window.location = url;
            }

        </script>
</body>

</html>